<a href="https://colab.research.google.com/github/Jazeem1999/Data-Preprocessing/blob/main/Dm_assgn1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [43]:
import numpy as np 
import pandas as pd # pandas is so commonly used, it's shortened to pd import matplotlib.pyplot as plt

from sklearn.ensemble import RandomForestClassifier

In [24]:
from google.colab import drive 
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [45]:
diabetes = pd.read_csv("/content/drive/MyDrive/DM/ds.csv") 
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,6,148.0,72.0,35.0,0.0,33.6,50.0,1.0
1,1,85.0,66.0,29.0,0.0,26.6,31.0,0.0
2,8,183.0,64.0,0.0,0.0,23.3,32.0,1.0
3,1,89.0,66.0,23.0,94.0,28.1,21.0,0.0
4,0,137.0,40.0,35.0,168.0,43.1,33.0,1.0
5,5,116.0,74.0,0.0,0.0,25.6,30.0,0.0
6,3,78.0,50.0,32.0,88.0,31.0,26.0,1.0
7,10,115.0,NaN,0.0,0.0,35.3,29.0,0.0
8,2,197.0,70.0,45.0,543.0,30.5,53.0,1.0
9,8,125.0,96.0,0.0,0.0,0.0,54.0,1.0

In [46]:
diabetes.isna().sum()

Pregnancies      0
Glucose          2
BloodPressure    1
SkinThickness    1
Insulin          1
BMI              1
Age              1
Outcome          1
dtype: int64

In [47]:
from sklearn.impute import SimpleImputer 
from sklearn.compose import ColumnTransformer
#Fill categorical values with 'missing' & numerical values with mean
num_imputer=SimpleImputer(strategy="mean")
#Define columns
num_features = ["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","Age","Outcome"]
# Create an imputer (Something that fills missing data)
imputer = ColumnTransformer([ ("num_imputer",num_imputer,num_features)
])
# Transformed the Data
filled_X = imputer.fit_transform(diabetes)
filled_X

array([[  6. , 148. ,  72. , ...,  33.6,  50. ,   1. ],
       [  1. ,  85. ,  66. , ...,  26.6,  31. ,   0. ],
       [  8. , 183. ,  64. , ...,  23.3,  32. ,   1. ],
       ...,
       [  5. , 121. ,  72. , ...,  26.2,  30. ,   0. ],
       [  1. , 126. ,  60. , ...,  30.1,  47. ,   1. ],
       [  1. ,  93. ,  70. , ...,  30.4,  23. ,   0. ]])

In [48]:
diabetes = pd.DataFrame(filled_X,columns=["Pregnancies","Glucose","BloodPressure","SkinThickness","Insulin","BMI","Age","Outcome"])
diabetes.head(10)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,Age,Outcome
0,6.0,148.0,72.000000,35.0,0.0,33.6,50.0,1.0
1,1.0,85.0,66.000000,29.0,0.0,26.6,31.0,0.0
2,8.0,183.0,64.000000,0.0,0.0,23.3,32.0,1.0
3,1.0,89.0,66.000000,23.0,94.0,28.1,21.0,0.0
4,0.0,137.0,40.000000,35.0,168.0,43.1,33.0,1.0
5,5.0,116.0,74.000000,0.0,0.0,25.6,30.0,0.0
6,3.0,78.0,50.000000,32.0,88.0,31.0,26.0,1.0
7,10.0,115.0,69.195567,0.0,0.0,35.3,29.0,0.0
8,2.0,197.0,70.000000,45.0,543.0,30.5,53.0,1.0
9,8.0,125.0,96.000000,0.0,0.0,0.0,54.0,1.0

In [49]:
diabetes.isna().sum()

Pregnancies      0
Glucose          0
BloodPressure    0
SkinThickness    0
Insulin          0
BMI              0
Age              0
Outcome          0
dtype: int64

In [50]:

X=diabetes.drop("Outcome",axis=1)
y=diabetes["Outcome"]

In [66]:
np.random.seed(69)
from sklearn.ensemble import RandomForestRegressor
from sklearn.model_selection import train_test_split 
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2)

model = RandomForestRegressor() 
model.fit(X_train,y_train) 
model.score(X_test,y_test)

0.33669497801594117

In [52]:
 y_preds = model.predict(X_test)

In [54]:
output = pd.DataFrame({"Age":X_test.Age,'Diabetes?':y_preds}) 
output

      Age  Diabetes?
668  43.0       0.53
324  21.0       0.33
624  21.0       0.12
690  34.0       0.07
473  50.0       0.47
..    ...        ...
355  49.0       0.88
534  24.0       0.09
344  57.0       0.37
296  29.0       0.30
462  39.0       0.05

[154 rows x 2 columns]